@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


@theme {
  --color-primary: #3B7FBF;
  --color-primary-hover: #2B6FA8;
  --color-success-light: #D1FAE5;
  --color-danger: #EF4444;
  /* mine */
  --color-success: #047957;
  --color-abyss: #15372C;
  --color-black: #333333;
  --color-cloud: #E0E5E3;
  --color-mist: #F7F8F7;
  --color-fog: #CCD4D1;
  --color-silver: #526B63;
  --color-smoke: #EFF1F0;
  --color-stone: #CCCCCC;
  --color-slate: #909090;
  --color-grapgite: #9B9B9B;
  --color-ink: #E1E1E1;

  --color-sky: #2975CA;
  --color-ice: #3574D6;
}

@layer base {
  body {
    margin: 0;
    min-height: 100vh;
    background-color: #f9fafb;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: #111827;
  }

  * {
    box-sizing: border-box;
  }
}
